<li *ngIf="cartItems.length>0" class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Sepetiniz
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li *ngFor="let cartItem of cartItems"><a class="dropdown-item"><span
          class="badge bg-warning text-dark">{{cartItem.quantity}} </span> {{cartItem.car.name}} <span
          (click)="removeFromCart(cartItem.car)" style="cursor: pointer; padding:0px 5px;" class="bagde bg-danger">Sil</span></a></li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item">Sepete git</a></li>
  </ul>
</li>
